<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Consulter les contacts - Contact</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- BOOTSTRAP -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
    <h1>Liste des contacts</h1>
    <table class='table'>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Téléphone</th>
            <th>Modifier</th>
            <th>Supprimer</th>
        </tr>
            <tr th:each="contact : ${contacts}">
                 <td th:text="${contact.lastName}">...</td>
                 <td th:text="${contact.firstName}">...</td>
                 <td th:text="${contact.phoneNumber}">...</td>
                 <td><a th:href="@{'/modifyContact/' + ${contact.id}}">Modifier</a></td>
                 <td><a th:href="@{'/deleteContact/' + ${contact.id}}">Supprimer</a></td>

            </tr>
    </table>

    <button type="button" value="Ajouter un nouveau contact" onclick="window.location.href='/ajouterContact/';" class='button btn-primary'>Ajouter un nouveau contact</button>

        


</body>
</html>